<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>Musisi List</title>
</head>
<body>
	<section layout:fragment="header">
		
		<h1 id="header_h1">Musisi List</h1>
	</section>
	<div layout:fragment="content">
		<div class="modal in" id="confirmModal">
          <div class="modal-dialog confirmModal">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">x</span></button>
                <h4 class="modal-title">Konfirmasi</h4>
              </div>
              <div class="modal-body">
                <p>Pastikan semua data sudah benar, karena transaksi tidak dapat dibatalkan. Apakah Anda yakin untuk melanjutkan proses ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat btn-sm pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-flat btn-sm pull-left" id="btnOk">Ok</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
    	</div>
		<div class="loader"></div>
		<div class="box box-primary">
		<script type="text/javascript">
			//<![CDATA[
			var urlPage = urlGlobal;	
			var page = 1;
			var totalPage;
			var search = "", gender, genre, region, instrument1, instrument2, instrument3;
		
			var idAdmin;
			
			function prevPage() {
				if (page > 1) {
					page = page - 1;
					$('#currentPage').prop('disabled', true);
					$('#currentPage').val(page);
					refreshPage();
				}
			}
			function nextPage() {
				if (page < totalPage) {
					page = page + 1;
					console.log("page < totalPage === " + page);
					$('#currentPage').prop('disabled', true);
					$('#currentPage').val(page);
					refreshPage();
				}
			}
			
			function disableAction() {
				page = 0;
				totalPage = 0;
				$('#totalPage').text(" / " + totalPage);
				$('#currentPage').val(page);
				$('#currentPage').prop('disabled', true);
				$('#btnPrevPage').prop('disabled', true);
				$('#btnNextPage').prop('disabled', true);
			}
			
			function details(inAdminId,isEdit) {
				window.location = urlPage + "api/admin/form?inAdminId="+inAdminId+"&isEdit="+isEdit;
			}
			
			function deleteConfirmation(_idAdmin) {
				idAdmin = _idAdmin;
				$('#confirmModal').modal('show');
			}
			
			$('#btnOk', '#confirmModal').click(function() {
				$('#confirmModal').modal('hide');
				deleteAdmin();
			});
			
			
			
			function deleteAdmin(){
		    	var admin = new Object();
				admin.id = idAdmin;
				var postData = JSON.stringify(admin);
		    	var data;
		    	var inNama,inEmail,inId;
		    	
		    	$
		    		.ajax({
		    			type: "POST",
		    			cache: false,
		    			url: urlPage + "api/admin/delete",
		    			dataType: "JSON",
		    			data: postData,
		    			headers : {
							"Content-Type" : "application/json",
						},
		    			beforeSend: function() {
		    				$('.loader').fadeIn();
		    			},
		    			complete: function() {
		    				$('.loader').fadeOut();
		    			},   
		    			success: function(data)  {
		    				if (data.errorResult == false) {
		    					window.location.replace(urlPage + "/api/admin/list?pageNumber=1");
		    					//javascript:window.history.back();
		    				} else {
		    					$('.loader').fadeOut();
		    				}
		    			},
			    		error : function(e) {
							alert("ERROR: ", e);
							console.log("ERROR: ", e);
			    		}
		   		});
			}

			function refreshPage() {
				var data;
				data = {
					pageNumber : page,
					inSearchValue : search,
					inGender : gender,
					inGenre : genre,
					inRegion : region,
					inInstrument1 : instrument1,
					inInstrument2 : instrument2,
					inInstrument3 : instrument3,
				};
				$
						.ajax({
							type : "GET",
							url : urlPage + "api/musisi/rest/page",
							dataType : "JSON",
							data : data,
							beforeSend : function() {
								$('.table tbody').html("");
								$('.loader').fadeIn();
							},
							complete : function() {
								//destroy load event
								$('.loader').fadeOut();
							},
							success : function(data) {
								if (data.errorResult == false) {
									if ((data.integerResult != null)
											&& (data.integerResult > 0)) {
										totalPage = parseInt(data.integerResult);
										$('#totalPage').html(
												"&nbsp;/ " + totalPage);
										$('#currentPage').val(page);
										$('#currentPage').prop(
												'disabled',
												page == totalPage ? true
														: false);
										if (page == 1)
											$('#btnPrevPage').prop('disabled',
													true);
										else
											$('#btnPrevPage').prop('disabled',
													false);

										if (page == totalPage)
											$('#btnNextPage').prop('disabled',
													true);
										else
											$('#btnNextPage').prop('disabled',
													false);
										$.each(data.lstObject, function(index) {
											var result = data.lstObject[index];
											var assetRow = '<tr>' + '<td>'
													+ result.id 
													+ '</td>' + '<td>'
													+ result.nama
													+ '</td>' + '<td>'
													+ result.email
													+ '</td>' + '<td>'
													+ result.telp
													+ '</td>' + '<td>'
													+ result.tglLahir
													+ '</td>' + '<td>'
													+ result.genderName
													+ '</td>' + '<td>'
													+ result.genreName
													+ '</td>' + '<td>'
													+ result.regionName
													+ '</td>' + '<td>'
													+ result.instrument1Name
													+ '</td>' + '<td>'
													+ result.instrument2Name
													+ '</td>' + '<td>'
													+ result.instrument3Name
													+ '</td>' + '<td>'
													+ result.createdByName
													+ '</td>' + '<td>'
													+ result.createdDate
													+ '</td>' + '<td>'
													+ result.modifiedByName 
													+ '</td>' + '<td>' 
													+ result.modifiedDate
													+ '</td>';
													assetRow 
													+= '<td> '
															
													+  '</td>' +
													
													'</tr>';

											$('#assetTable tbody').append(
													assetRow);
										});

										/* $( "#assetTable tbody tr:odd" ).addClass("info");
										$( "#assetTable tbody tr:even" ).addClass("success"); */
									} else {
										$('.table tbody')
												.html(
														"<tr><td colspan='9' align='center'>No Data</td></tr>");
										disableAction();
									}
								} else {
									$('.loader').fadeOut();
									$('.table tbody')
											.html(
													"<tr><td colspan='9' align='center'>No Data</td></tr>");
									disableAction();
								}
							},
							error : function(e) {
								alert("ERROR: ", e);
								console.log("ERROR: ", e);
							}
						});
				
			}
			
			// ]]>
		</script>
			<div class="box-body">
				<div class="row bottom5">
					<div class="col-md-3">
						<!-- <h3 class="box-title">Lists</h3> -->
						<table>
							<tr>
								<td style="width: 40px;"><button
										class="btn btn-default btn-sm" onclick="prevPage()"
										id="btnPrevPage">
										<i class="fa fa-chevron-left"></i>
									</button></td>
								<td style="width: 20px;"><input type="text" value="1"
									class="form-control input-sm" maxlength="10" id="currentPage"
									style="width: 50px; text-align: right;" /></td>
								<td id="totalPage"></td>
								<td style="width: 40px;"><button
										class="btn btn-default pull-right btn-sm" onclick="nextPage()"
										id="btnNextPage">
										<i class="fa fa-chevron-right"></i>
									</button></td>
							</tr>
						</table>
					</div>
					<table>
						<tr>
							<th>
								<div class="col-md-3" style="width: auto;">
									<div class="input-group">
										<input class="form-control input-sm pull-right" type="text"
											placeholder="Search" name="search" id="search" />
										<div class="input-group-btn">
											<button type="button" class="btn btn-default btn-flat btn-sm"
												id="btnSearch" data-toggle="tooltip" title="Cari">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</th>
							
						</tr>
					</table>
				</div>
				<div style="margin-bottom: 5px;"></div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table id="assetTable"
								class="table table-hover table-striped table-bordered">
								<thead>
									<tr>
										<th>Id</th>
										<th>Nama</th>
										<th>Email</th>
										<th>Telp.</th>
										<th>Tgl. Lahir</th>
										<th>Gender</th>
										<th>Genre</th>
										<th>Region</th>
										<th>Instrument 1</th>
										<th>Instrument 2</th>
										<th>Instrument 3</th>
										<th>Created By</th>
										<th>Created Date</th>
										<th>Modified By</th>
										<th>Modified Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			//<![CDATA[
			refreshPage();
			$('#currentPage').keyup(function(ev) {
				if (ev.keyCode == 13) {
					var curPage = parseInt($(this).val());
					if (curPage < 0)
						curPage = 1;

					if (curPage <= totalPage) {
						$('#currentPage').prop('disabled', true);
						$('#currentPage').val(curPage);
						page = curPage;
						refreshPage();
					} else {
						$('#currentPage').prop('disabled', true);
						page = 1;
						$('#currentPage').val(page);
						refreshPage();
					}
				}
			});
			$('#search').keyup(function(ev) {
				if (ev.keyCode == 13) {
					page = 1;
					search = $(this).val();
					refreshPage();
				}
			});

			$('#btnSearch').click(function() {
				page = 1;
				search = $('#search').val();
				refreshPage();
			});


			// ]]>
		</script>
	</div>
	
</body>

</html>